:root {
  --primary-color: #05537b;
  --secondary-color: rgb(236, 232, 232);
  --tertiary-color: rgb(39, 37, 37);
}

/* @import 'foundation';
@include foundation-everything; */

body, html {
    height: 100%;
  }
  
  .bg-img { 
    /* The image used */
    background-image: src = "/assets/image/kitchen.jpg";
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    display: flex;
    justify-content: center;
    border: 2px black solid;
    /* background-color: whitesmoke; */
    background-color: var(--primary-color);
    /* background-image: radial-gradient(circle, #05537b, darkgrey); */
    color: whitesmoke;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }

  .hero-cta h4{
    color: rgb(88, 80, 80);

  }
  .card-search {
    /* justify-content: center; */
    padding: 25px;
    text-align: center;
    width: 50%;
    background-color: var(--secondary-color);
    margin-bottom: 50px;
    margin-left: 25%;
  }

  .card-search button {
    background-color: var(--primary-color);
    color: whitesmoke;
  }

/* TODO:
Make the page responsive */
