:root {
  --primary-color: #05537b;
  --secondary-color: rgb(153, 214, 169);
  --tertiary-color: rgb(39, 37, 37);
}

/* @import 'foundation';
@include foundation-everything; */

 html {
    height: 100%;
    /* background-image: url('../images/kitchen.jpg');   */
    /* background: url('../images/kitchen.jpg') ; */
    /* background-size: cover; */

  }
  .background {
    background: url('../images/food-image-1.jpg');
    background-size:cover;
  }

  header {
    display: flex;
    justify-content: space-between;
    border: 2px whitesmoke solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    /* background-image: radial-gradient(circle, #05537b, darkgrey); */

  }

  header h1 {
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    /* justify-content: left; */
  }


  header a:hover {
    color: whitesmoke;
    text-shadow:none;
  }

  header a {
    text-shadow:none;
    margin: 20px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 9);
    font-family: 'Open Sans', sans-serif;
  }

  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }

  .hero-cta h4{
    color: rgb(88, 80, 80);

  }
  .card-search {
    padding: 25px;
    text-align: center;
    width: 50%;
    background-color: var(--secondary-color);
    margin-bottom: 40px;
    margin-left: 25%;
    border-radius: 30px;
  }
#recipeSearch {
  border-radius: 20px;
}

.card-search button {
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
  }

/* button:hover {
  background: lightsteelblue;
} */

/* MEDIA QUERY FOR Mobile phones and smaller */
@media screen and (max-width: 575px) {
  header {
    justify-content: center;
    position: relative;
  }

  menu {
    text-align: center;
    font-size: 25px;
  }
}


