body, html {
    height: 100%;
  }
  
  .bg-img { 
    /* The image used */
    background-image: src = "/assets/image/kitchen.jpg";
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
